
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CoderPelis</a>
      <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="films">Peliculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="series">Series</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="about">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Contacto</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="login">Iniciar Sesion</a>
          </li>
          <li class="nav-item-register" >
            <a class="nav-link active" aria-current="page" routerLink="register">Registro</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active" aria-current="page" routerLink="cart">Carrito</a>
          </li>
         
         
        </ul>
      
    </div>
  </nav>